.light-pillar-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.light-pillar-fallback {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}